# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio garbage
*.suo
*.sdf
*.opensdf
*.vcxproj.filters
*.user
msvc110/build

# Vim garbage
*.swp

# Binaries
bin
